<header>
    <div class="container-grid header-flex">
        <a routerLink=""> <img class="logotipo" src="/assets/images/Logo.svg"> </a>

        <div class="search">
            <input class="search-bar" id="busca-bar" type="search" placeholder="Busque aqui">
            <button class="search-button" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>

        <nav class="menu">
            <div>
                <div class="login-img">
                    <img src="/assets/images/Login.svg">
                </div>
                <p class="login"> <a routerLink="login">Logue-se</a> ou
                    Cadastre <a routerLink="login">Aqui.</a> </p>
            </div>
            <a href="#"><img class="nav-img" src="/assets/images/SAC.svg"></a>
            <a href="#"><img class="nav-img" src="/assets/images/Shopping.svg">
            </a>
            <img class="hamburguer" onclick="exibeMenu()" src="/assets/images/6499731.png">
        </nav>
    </div>
</header>