<main class="login-main">
    <div class="login-holder">
        <div class="container login-casca">
            <div class="login-box">
                <div class="indice-login">
                    <fa-icon [icon]="faUser"></fa-icon>
                    <h2>identificação</h2>
                </div>
                <div class="information-holder">
                    <div class="information-block">
                        <form class="former-login" action="" (ngSubmit)="fazerLogin()">
                            <h2> ja tenho cadastro</h2>
                            <div>
                                <input type="text" id="usuario" name="usuario" placeholder="E-mail,CPF ou CNPJ*"
                                    [(ngModel)]="userModel.usuario">
                            </div>
                            <div>
                                <input type="password" id="senha" name="senha" placeholder="Senha*"
                                    [(ngModel)]="userModel.senha">
                            </div>
                            <p id="msgValidacao"></p>
                            <div><button type="submit" class="button-entrar">
                                    Entrar</button> </div>
                            <!-- <button type="button" (click)="helloWorld()"> Teste </button> -->


                            <div class="links-login">
                                <div>
                                    <a href="#" class="link-ajuda"> esqueci meu login</a>
                                </div>
                                <div>
                                    <a href="#" class="link-ajuda"> esqueci a minha senha</a>
                                </div>
                            </div>
                        </form>
                        

                        <div class="separador">

                        </div>
                        <section class="former-cadastro">
                            <h2>quero me cadastrar</h2>
                            <div>
                                <input type="email" id="cemail" name="email" placeholder="E-mail*">
                            </div>
                            <div>
                                <input type="password" id="criarSenha" name="senha" placeholder="Crie sua senha*">
                            </div>
                            <div>
                                <input type="password" id="confirmSenha" name="confirmsenha"
                                    placeholder="Confime a senha*">
                            </div>
                            <div>
                                <input type="text" id="identidade" name="identity" placeholder="CPF ou CNPJ*">
                            </div>
                            <div>
                                <button class="button-cadastrar"> cadastrar</button>
                            </div>
                        </section>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>