<!-- COMEÇO DO RODAPÉ -->
<footer>
    <section class="container-grid rodape">
        <div class="rodape-box">
            <div class="box departamento">
                <ul class="rodape-list">
                    <li class="rodape-titulo">departamento</li>
                    <li><a class="rodape-text" href="#">Pc Gamer</a></li>
                    <li><a class="rodape-text" href="#">Notebooks</a></li>
                    <li><a class="rodape-text" href="#">Celulares</a></li>
                    <li><a class="rodape-text" href="#">Perifericos</a></li>
                </ul>
            </div>

            <div class="box institucional">
                <ul class="rodape-list">
                    <li class="rodape-titulo">institucional</li>
                    <li><a class="rodape-text" href="#">Quem Somos</a></li>
                    <li><a class="rodape-text" href="#">Dúvidas </a></li>
                    <li><a class="rodape-text" href="#">Trocas e devoluções</a></li>
                    <li><a class="rodape-text" href="#">Privacidade</a></li>
                    <li><a class="rodape-text" href="#">Contato</a></li>
                </ul>
            </div>

            <div class="box conta">
                <ul class="rodape-list">
                    <li class="rodape-titulo">conta</li>
                    <li><a class="rodape-text" href="#">Login</a></li>
                    <li><a class="rodape-text" href="#">Perda de Senha</a></li>
                    <li><a class="rodape-text" href="#">Cadastro</a></li>
                </ul>

            </div>
            <div class="box atendimento">
                <ul class="rodape-list">
                    <li>
                    <li class="rodape-titulo">atendimento</li>
                    <li>
                        <p>
                            Horário de atendimento:
                            08:00 às 20:00 -
                            Segunda a Sábado,
                            horário de Brasília

                    </li>
                    <li>
                        <p>

                            Endereço:
                            Rua Carlos Gomes, 1021 -
                            9° andar - Centro
                            Limeira/SP - CEP: 13420-010
                        </p>
                    </li>

                    <li>
                        <p>
                            E-mail:
                            faleconosco@GameMania.com.br
                        </p>
                    </li>
                </ul>
            </div>

            <div class="box rede-social">
                <ul class="rodape-social">
                    <li class="rodape-titulo">rede social</li>
                    <li>
                        <a href="#" class="rodape-link"><i class="fa-brands fa-whatsapp fa-3x"></i>
                            <p class="rodape-description"> (11) 99942-7586 </p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="rodape-link"> <i class="fa-brands fa-facebook fa-3x"></i>
                            <p class="rodape-description"> gamemania.com </p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="rodape-link"> <i class="fa-brands fa-instagram fa-3x"></i>
                            <p class="rodape-description"> @gamemania</p>
                        </a>
                    </li>

                </ul>
            </div>

        </div>
    </section>
</footer>
