<section class="category">
    <div class="container-grid category-box">
        <nav id="men" class="color-category">
            <div>

                <a href="#" class="link-special"> <i class="fa-solid fa-briefcase fa-3x icons">
                    </i>
                    <p class="category-description"> Todos os Departamentos</p>
                </a>
                <a href="#" class="category-link"> <i class="fa-solid fa-computer fa-3x">
                    </i>
                    <p class="category-description"> Pc Gamer</p>
                </a>
                <a href="#" class="category-link"><i class="fa-solid fa-laptop fa-3x"></i>
                    <p class="category-description"> Notebooks</p>
                </a>
                <a href="#" class="category-link"><i class="fa-solid fa-mobile-screen-button fa-3x"></i>
                    <p class="category-description"> Celulares</p>
                </a>
                <a href="#" class="category-link"> <i class="fa-solid fa-keyboard fa-3x"></i>
                    <p class="category-description"> Perifericos</p>
                </a>
            </div>

        </nav>
    </div>
</section>
